.modalSection {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.modalBtn {
  display: block;

  width: 140px;

  padding: 10px;
  border: none;
  border-radius: 10px;

  background-color: rgb(57, 69, 37);
  color: rgb(255, 255, 255);
}

.containerForModal {
  position: relative;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  width: 300px;
  height: 400px;

  border-radius: 20px;
  padding: 10px;

  color: rgb(255, 255, 255);
  background-color: rgb(57, 69, 37);
}

.modalBoxText {
  text-align: center;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 260px;
  height: 300px;

  border-radius: 20px;
  padding: 20px;

  background-color: rgb(255, 255, 255);
  color: rgb(57, 69, 37);
}

.modalWindowText {
  text-align: center;
  margin-bottom: 10px;
}
